---
title: Welcome to Ruby 101
modules:
 - introduction
 - game
 - serverless
 - projects
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101
</h1>
<ol>
  <% current_page.data.modules.each do |f| %>
    <li><%= link_to (f.to_s).capitalize, '/ruby101/'+f.to_s+'.html' %></li>
  <% end %>
</ol>
<h2>
  Related Courses
</h2>
<li><%= link_to 'Ruby Monstas CH','https://rubymonstas.ch/lessons' %></li>
<li><%= link_to 'Ruby Monstas Berlin','http://rubymonstas.org/' %></li>
