---
title: Welcome to Ruby 101
modules:
 - Introduction
 - Game
 - Serverless
 - Projects
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101
</h1>
<ol>
  <% current_page.data.modules.each do |f| %>
    <li><%= link_to f.to_s, '/'+f.to_s+'.html' %></li>
  <% end %>
</ol>

<footer>
  <%= link_to 'Home', '/index.html' %>
</footer>
