---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Introduction
</h1>
<ul>
  <li>Trying Ruby Online</li>
  <li>Installing Ruby</li>
  <li>Sending Email from Ruby</li>
  <li>Creating a Blog with Ruby</li>
  <li>Exercises with Ruby</li>
</ul>

<footer>
  <%= link_to 'Home', '/index.html' %>
</footer>

