---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Introduction
</h1>
<ul>
  <li><%= link_to 'Create a Blog with Ruby', '/ruby101/blog.html' %></li>
  <li><%= link_to 'Try Ruby Online', '/ruby101/try.html' %></li>
  <li><%= link_to 'Install Ruby', 'https://www.ruby-lang.org/en/documentation/installation/' %></li>
  <li><del>'Sending Email from Ruby</del> Will cover in a later section</li>
  <li><%= link_to 'Ruby Exercises', '/ruby101/exercises.html' %></li>
</ul>


