---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Serverless E-commerce
</h1>
<h2>
  Getting Serverless Computing
</h2>

<ul>
  <li>A number of cloud service providers allow you to pay for execution of a particular
    task. This allows for payment per use, and can be cost effective when your use varies 
    with time significantly. Some example services include:</li>
  <ul>
    <li>Alibaba Cloud <%= link_to 'Function Compute', 'https://www.alibabacloud.com/products/function-compute' %></li>   
    <li>AWS <%= link_to 'Lambda', 'https://aws.amazon.com/lambda/' %></li>
    <li>Azure <%= link_to 'Functions','https://azure.microsoft.com/en-us/services/functions/' %></li>
    <li>Google <%= link_to 'Cloud Functions', 'https://cloud.google.com/functions/' %></li>
  </ul>
</ul>

