---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: Serverless
</h1>
<ul>
  <li>E-Commerce</li>
  <li>What is serverless?</li>
  <li>Serverless E-commerce with Ruby</li>
</ul>
<footer>
  <%= link_to 'Home', '/ruby101/index.html' %>
</footer>

