---
title: Welcome to Ruby 101
---

  <title id="title">Ruby 101</title>

<h1>
  Ruby 101: E-commerce
</h1>
<h2>
  What is serverless?
</h2>
<p>Typical cloud computing has required setup of a computer that is always on
and accessible through the internet. For e-commerce, such a computer will 
typically run the e-commerce website, payment solution gateway and a database
to keep track of inventory.
</p>
<p> In many cases, the compute resources are not always fully utilized or it may 
be the case that sales peak during a holiday season or special event, and so extra
computing resources are required. 
<%= link_to 'Serverless', 'https://en.wikipedia.org/wiki/Serverless_computing' %>
computing allows for the provisioning of compute resources on demand, thus 
minimizing costs for compute resources if these are not fully utilized and 
allowing quick expansion of compute resources should it be required.
</p>
<p> Here, we will examine a very low cost version of serverless computing 
that will deploy a static website with a shopping cart. Static websites
have gained in popularity because they can be put on servers close to the
end consumer, enabling a fast response time and content downloading time.
</p>

